.modal {
    position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(0, 0, 0, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 4000;    
}


.window{
    width: 510px;
    height: 410px;
    background-color:rgb(253, 253, 253);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    border-radius: 1%;
}


.bar{
    height: 50px;
    border-bottom: 1px solid rgb(224, 222, 222);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:30px ;
    padding-right:30px ;
    font-weight: 600;
    color: rgb(95, 95, 95) ;
}

.x{
    border: none;
    background-color:rgb(253, 253, 253) ;
    color: rgb(175, 175, 175);
    font-size: 18px;
}

.buttons{
    border-top: 1px solid rgb(224, 222, 222);
}

input{
    height: 35px;
    width: 330px;
    border: 1px solid rgb(224, 222, 222);
    border-radius: 5px;
}

.form{
margin-top: 30px;
margin-bottom: 50px;
margin-left: 100px;
font-size: 10px;
color:var(--navfoot);
font-weight: bold;
display: grid;
grid-template-columns: 60px 1fr;
row-gap: 30px;
column-gap: 4px;
}

.one{
    margin-top: 7px;
    font-size: 14px;
    font-weight: 400;
}

.aster{
    color: red;
    padding-right: 5px;
}


